name: "Update release tags"
on:
  push:
    tags:
      - v*

jobs:
  update-semver:
    name: "Update tags"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: haya14busa/action-update-semver@v1
