name: "Test action"

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
  push:

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: "Setup nim"
        uses: jiro4989/setup-nim-action@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: "Build documentation"
        uses: "./"
        with:
          project-dir: "testProject/"
          main-file: "src/testProject.nim"
          extra-files: "docs/*.md examples/*.nim"

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: testProject/site
